<h1>商品一覧</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>メーカー</th>
      <th>カテゴリー</th>
      <th>定価</th>
      <th>卸単価</th>
      <th>原価</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.manufacturer %></td>
        <td><%= product.category %></td>
        <td><%= number_to_currency(product.list_price, unit: "¥") %></td>
        <td><%= number_to_currency(product.wholesale_price, unit: "¥") %></td>
        <td><%= number_to_currency(product.cost_price, unit: "¥") %></td>
      </tr>
    <% end %>
  </tbody>
</table>