<%= form_with url: admin_users_path, method: :get, local: true do |f| %>
  <div>
    <%= f.label :name, "名前を検索" %>
    <%= f.text_field :name, placeholder: "姓 または 名" %>
  </div>

  <div>
    <%= f.label :position, "役職を選択" %>
    <%= f.select :position, User.positions.keys.map { |pos| [pos.titleize, pos] }, include_blank: "すべて" %>
  </div>

  <%= f.submit "検索" %>
<% end %>