<h1>新規ユーザー作成</h1>

<%= form_with model: [:admin, @user], local:true do |form| %>
  <div class="form-group">
    <%= form.label :email, 'メールアドレス' %>
    <%= form.email_field :email, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :last_name, '姓' %>
    <%= form.text_field :last_name, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :first_name, '名' %>
    <%= form.text_field :first_name, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :position, '役職' %>
    <%= form.select :position, User.positions.keys.map { |k| [t("enums.user.positon.#{k}"), k]}, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :region, '担当地域' %>
    <%= form.select :region, options_for_select(["愛知", "岐阜", "三重", "静岡"], @user.region), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password, 'パスワード' %>
    <%= form.password_field :password, class: 'form-control', required: true %>
  </div>

  <%= form.submit 'ユーザーを作成', class: 'btn btn-primary' %>
  <%= link_to 'キャンセル', admin_users_path, class: 'btn btn-secondary' %>

<% end %>