<h1>ユーザー詳細</h1>

<%= link_to '編集', edit_admin_user_path(@user), class: 'btn btn-sm btn-info' %>
<%= link_to '削除', admin_user_path(@user), method: :delete, confirm: '本当に削除しますか？', class: 'btn btn-sm btn-danger' %>
<%= link_to '一覧へ戻る', admin_users_path(@user), class: 'btn btn-sm btn-success' %>

<h5>基本情報</h5>

<table class="table table-striped">
  <thead>
    <tr>
      <th>メールアドレス</th>
      <th>姓</th>
      <th>名</th>
      <th>管理者</th>
      <th>作成日</th>
      <th>最終ログイン</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td>
          <% if user.admin? %>
            <span class="badge badge-primary">管理者</span>
          <% else %>
            <span class="badge badge-secondary">一般</span>
          <% end %>
        </td>
        <td><%= user.created_st.strftime('%Y/%m/%d') %></td>
        <td><%= user.last_sign_in_at&.strftime('%Y/%m/%d %H:%M') || '未ログイン' %></td>
        <td>